:root {
  margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(216 226 242);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  size: 12px;
  color: black;
}

h3 {
  size: 10px;
  color: black;
}

h4 {
  size: 20px;
  color: black;
}

p{
  color: black;
}

.submit-button {
  grid-area: submit-button;
}

button {
  border-radius: 10px;
  border: none;
  color: white;
  background-color: rgb(116 156 194);
  padding: 15px;
}

button:hover{
  background-color: lightgray;
  color: black;
}


/* FORM styling */

#form {

  background-color: white;
  box-shadow: 2px 2px gray;
  border-radius: 10px;
  padding: 20px;

  display: grid;
  grid-template-areas: 
  ' . form-header form-header form-header .'
  ' name name name name name '
  ' description description description description description '
  ' due-date assigned-to status . submit-button '
  ' . error-message error-message error-message . '
}

.form-header {
  grid-area: form-header;
  
  text-align: center;
}

.name {
  grid-area: name;
  padding: 15px;
}

.description {
  grid-area: description;
  padding: 15px;
}

.due-date {
  grid-area: due-date;
  padding: 15px;
}

.assigned-to {
  grid-area: assigned-to;
  padding: 15px;
}

.status {
  grid-area: status;
  padding: 15px;
}


.error-message {
  grid-area: error-message;
  align-self: center;
  color: red;
  font-weight: bold;
  padding: 15px;
}



.form-label{
  /* display: block; */
  /* float: left; */
  margin-right: 10px;

}

.form-input {
  /* display: block;
  float: right; */
  size: 30px;
  padding: 3px;
  border: 1px solid lightgray;
}




/* TaskList styling */

.task-list {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;

}

.list-label{
  background-color: white;
  padding: 3px;
  margin-right: 10px;
  margin-left: 10px;
}



.task-card {
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 2px 2px gray;
  display: grid;
  gap: 1em;
    
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(3, minmax(1fr, 20px));
grid-template-areas: 
' name name name name name '
' description description description description description '
' due-date assigned-to status edit-button delete-button '
}

.list-name {
  grid-area: list-name;
  font-weight: bold;
}

.list-description {
  grid-area: list-description;
  font-weight: bold;
}

.list-duedate {
  grid-area: list-duedate;
  font-weight: bold;
}

.list-assigned {
  grid-area: list-assigned;
  font-weight: bold;
}

.list-status {
  grid-area: list-status;
  font-weight: bold;
}

.edit-button {
  grid-area: edit-button;
}

.delete-button {
  grid-area: delete-button;
  color: red;
}

